<h1>New Prescription</h1>

<%# <%= link_to 'Créer un nouveau médicament', medicines_new_path %>
<%# <%= simple_form_for @prescription do |f| %>
        <%# <%= f.input :name %>
        <%# <%= f.input :NR %>
        <%# <%= f.submit "Ajouter du contenu", class: "btn btn-primary" %>
    <%# <% end %>

<p><%= link_to 'Créer une procédure médicale ', new_medical_procedure_path %></p>
    <%= simple_form_for @prescription do |f| %>
        <%= f.input :content %>
        <%= f.submit "Ajouter du contenu", class: "btn btn-primary" %>
    <% end %>

<p><%= link_to 'Créer une préscription medicale ', '#' %></p>

<p><%= link_to 'Créer une durée de prescription', '#' %></p>
