<h1>Prescription details</h1>

<p class= "text-right"><%= @prescription.created_at %></p>
    <div>
      <% @prescription.medical_procedures.each do |f| %>
        <p><%= f.content %></p>
      <% end %>
    </div>
    <%= simple_form_for [@prescription, @medical_procedure] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Ajouter une procédure", class: "btn-grad font" %>
    <% end %>

    <div>
      <%= @prescription.prescription_medicines.each do |f| %>
        <p><%= f.duration %></p>
        <p><%= f.dosage %></p>
      <% end %>
    </div>

  <%= simple_form_for [@prescription, @prescription_medicine] do |f| %>

        <%= f.input :medicine_id, collection: Medicine.all, label_method: :name_form_medicine %>
        <div class = "try">
        <p>Lundi</p><p> Mardi</p> <p> Mercredi </p><p> Jeudi</p><p> Vendredi </p> <p> Samedi </p><p> Dimanche </p>
        </div>
        <div class = "wrapper">
        <%= f.collection_check_boxes :daily_take, DailyTake.all, :id, :day_time %>
        </div>
        <%= f.input :duration %>
        <%= f.input :dosage %>
        <%= f.submit "Ajouter une prescription", class: "btn-grad font" %>
    <% end %>

<%= link_to 'Acceuil', root_path, class: "btn-grad font" %>
