<h1>Prescription details</h1>

<p class= "text-right"><%= @prescription.created_at %></p>
    <div>
      <% @prescription.medical_procedures.each do |f| %>
        <p><%= f.content %></p>
      <% end %>
    </div>
    <%= simple_form_for [@prescription, @medical_procedure] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Ajouter une procédure", class: "btn btn-primary" %>
    <% end %>

    <div>
      <%= @prescription.prescription_medicines.each do |f| %>
        <p><%= f.duration %></p>
        <p><%= f.dosage %></p>
      <% end %>
    </div>

<%= simple_form_for [@prescription, @prescription_medicine] do |f| %>
        <%= f.input :medicine_id, collection: Medicine.all %>
        <%= f.input :daily_take, collection: DailyTake.all.map{ |day| "#{day.day} #{day.day_time}"} %>
        <%= f.input :duration %>
        <%= f.input :dosage %>
        <%= f.submit "Ajouter une prescription", class: "btn btn-primary" %>
    <% end %>

<%= link_to 'Acceuil', root_path, class: "btn btn-primary" %>
