<h1>Mes consultations</h1>
<div class="container">
    <%= simple_form_for [@consultation, @prescription] do |f| %>
        <%= f.submit "Nouvelle prescription", class: "btn btn-primary" %>
    <% end %>


<div class="row justify-content-center">
    <div class="card-product">
        <div class="card-product-infos">
          <%= image_tag "ordonnance_test.png" %>
          <h6>Sujet : <%= @consultation.title %></h6>
          <h6><%= @consultation.ald %></h6>
          <h6>Compte-rendu : <%= @consultation.content %></h6>
        </div>
    </div>
</div>
