<h1>Mes consultations</h1>
<div class="container">
    <%= simple_form_for [@consultation, @prescription] do |f| %>
        <%= f.submit "Nouvelle prescription", class: "btn btn-primary" %>
    <% end %>


<div class="row justify-content-center">
    <div class="card-product">
        <div class="card-product-infos">
          <%= image_tag "ordonnance_test.png" %>
          <div class = "text-group">
            <p><%= @consultation.created_at %></p>
            <h6><%= @consultation.title %></h6>
            <p><strong><%= @consultation.content %></strong></p>
          </div>
            <%= image_tag "3-dots-icon.png", id: "dots" %>
        </div>
    </div>
</div>
