<div class="container">

  <div class="title">
    <h2>Dashboard</h2>
  </div>

  <div class="name">
    <h1>Welcome Dr. <%= current_user.last_name %>.</h1>
  </div>

<div class="row justify-content-center">
  <div class="searchbar col-md-10">
    <%= form_with url: dashboard_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Patient"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="card-product">
          <% @patients.each do |patient| %>
            <%= link_to patient_path(patient.id) do %>
              <div class="card-product-infos">
                <%= image_tag "avatar_patient.png" %>
                <h2><%= patient.last_name %></h2>
                <h2><%= patient.first_name %></h2>
                <p><%= patient.social_security_number %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
